*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
/* header section start */
.container{
    width: 80%;
}
header{
    width: 100%;
    background-color:#F85606;
}
.main_header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 80px;

}
.logo_search{
    display: flex;
    justify-content: space-around;
    gap: 130px;
    position: relative;
}
.search_bar .search_input{
        width: 740px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 9px 12px;
        outline: none;
        border: none;
}
.search_bar .search_icon{
    position: absolute;
    right: 20px;
    text-align: center;
    top: 9px;

}
.login_signup{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.login_button ,.signup_button{
    
    font-weight:900;
    letter-spacing: 0px;
    font-size: 13px;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    line-height: 30px;
}
.login_button:hover,.signup_button:hover,.cart_button:hover{
background-color: black;
}
.login_user{
    font-size: 16px;
    color: #fff;
    margin-right: 2px;
}
.cart_button{
    font-size: 22px;
    color: #fff;
    width: 80px;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;

}
/* header section end */
.wrapper{
    width: 750px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    background-color: transparent;
}
form{
    padding: 10px;
}
.form_box{
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
}
.input_box{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 18px;
}
.input_box input{
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid cadetblue;
    padding: 8px 12px;
    border-radius: 5px;
}